{% extends 'base.html' %}

{% block contenido %}
<table>
    <tr>
        <td>
            Año
        </td>
        {%for columna in columnas%}
        <td>
            {{columna}}
        </td>
        {%endfor%}
    </tr>
    {%for fila in datos%}
    <tr>
        <td>
            <a href="/economico/canasta-basica/{{fila.ano}}/">{{fila.ano}}</a>
        </td>
        {%for coso in fila.datos%}
        <td>
            {{coso}}
        </td>
        {%endfor%}
    </tr>
    {%endfor%}
</table>
{% endblock %}
