{% extends 'base.html' %}

{% block contenido %}
<table>
    <tr>
        <td>
            Año
        </td>
        <td>
           Mes 
        </td>
        {%for columna in columnas%}
        <td>
            {{columna}}
        </td>
        {%endfor%}
    </tr>
    {%for fila in datos%}
    <tr>
        <td>
            {{fila.ano}}
        </td>
        <td>
            {{fila.mes}}
        </td>
        {%for valor in fila.datos%}
        <td>
            {{valor}}
        </td>
        {%endfor%}
    </tr>
    {%endfor%}
</table>
{% endblock %}
