{% extends 'demografico/poblacion_consulta_ano.html' %}
{%block extrahead%}
<script type="text/javascript" language="javascript" charset="utf-8">
    // <![CDATA[
    function hideExtraInfo() {
        $("#esconder").hide("fast");
    }

    function showExtraInfo() {
        $("#esconder").show("slow");
    }
    $(document).ready(function() {
        hideExtraInfo();
    });
    // ]]>
</script>
{%endblock%}

{% block resultado %}
<hr>
<table id="test1" cellpadding="0" cellspacing="0" border="0" class="rowstyle-alt colstyle-alt no-arrow ">
						{%ifequal dept_salida "Nacional"%}
						  <caption>Poblacion Nacional por sexo y ubicacion para el año {{ano_salida}}</caption>
						{%endifequal%}
							<caption>Poblacion por sexo y ubicacion del departamento {{dept_caption.nombre}} para el año {{ano_salida}}</caption>

						  <thead>
							<tr>
							  <th class="sortable-numeric">Departamento</th>
							  <th class="sortable-numeric">Total</th>
							  <th class="sortable-numeric">Hombre urbano</th>
							  <th class="sortable-numeric">Mujer urbano</th>
							  <th class="sortable-numeric">Hombre rural</th>
							  <th class="sortable-numeric">Mujer rural</th>
							</tr>
						  </thead>

						  <tbody>
{% for q in q %}
							<tr class="{% cycle alt,none %}">
							  <td >{{ q.departamento.nombre}}</td>
							  <td >{{ q.total_ambos_sexos}}</td>

							  <td >{{ q.urbano_hombre}}</td>
							  <td >{{ q.urbano_mujer}}</td>
							  <td >{{ q.rural_hombre}}</td>
							  <td >{{ q.rural_mujer}}</td>
							</tr>
			
{%empty%}
No hay datos para esta consulta
{% endfor %}

  <tfoot>

							<tr  class="{% cycle alt,none %}">
							  <th ><b>Totales</b></td>

							  <th ><b>{{ total.total_ambos_sexos__sum}}</b></td>

							  <th ><b>{{ total.urbano_hombre__sum}}</b></td>
							  <th ><b>{{ total.urbano_mujer__sum}}</b></td>
							  <th ><b>{{ total.rural_hombre__sum}}</b></td>
							  <th ><b>{{ total.rural_mujer__sum}}</b></td>
							</tr>
</tfoot>
						  </tbody>
						</table> 

	
<br>
{% endblock %}

{% block columna_derecha %}
                    <div class="bloque">
						<div id="b_titulo">Acciones</div>
						<div id="b_enlace"><a href="javascript:showExtraInfo()">Nueva Consulta</a></div>
					</div>
{% endblock %}
               
