{% extends 'base.html' %}

{% block contenido %}

<!-- Comienza Contenido-->
            <div id="contenido">
               <div id="colum_izq" class="izq">
						{%block formulario %}
						<form action="." method="GET" class="niceform" > 
							<fieldset>
							<legend>Consulta para indicador de poblacion</legend>
							<dl>
								<dt><label for="ano_form">Año:</label></dt>
								<dd><SELECT NAME="ano_form" SIZE=1 >
								<OPTION VALUE="" selectable="selectable">-------------</OPTION>
								{% for i in ano %}
									<OPTION VALUE="{{i.0|escape}}">{{i.0}}</OPTION>
								{% endfor %}
								</SELECT> 
								</dd>
							</dl>
							<dl>
								<dt><label for="dept_form">Departamento:</label></dt>
								<dd><SELECT NAME="dept_form" SIZE=1 label="hola" >
										<OPTION VALUE="" selectable="selectable">-------------</OPTION>
										<OPTION VALUE="Nacional">TODO EL PAIS</OPTION>
										{% for d in dept %}
											<OPTION VALUE="{{d.pk|escape}}">{{d.nombre}}</OPTION>
										{% endfor %}
									</SELECT> 
								</dd>
							</dl>
							<dl>
								<dt><label for="tipo_form">Tipo de consulta:</label></dt>
								<dd>
									<input type="radio" name="tipo_form" value="ubicacion" /><label for="Ubicacion de Poblacion" class="opt">Ubicacion de Poblacion</label>
									<input type="radio" name="tipo_form" value="sexo" /><label for="Sexo de Poblacion" class="opt">Sexo de Poblacion</label>
									<input type="radio" name="tipo_form" value="sexoyubic" /><label for="Sexo y Ubicacion " class="opt">Sexo y Ubicacion </label>
								<dd>
							<dl>
						</fieldset>
						<fieldset class="action">
							<input type="submit" value="Consultar" /> 
						</fieldset
						</form>
						{%endblock%}
				      {% block resultado %}{% endblock %}	
<br>
               </div>
               <div id="colum_der" class="der">
                    <div class="bloque"></div>
               </div>
               <div id="separador" ></div>
            </div>
            
			{%endblock%}

