<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="es">
<head>
    <title>{% block titulo %}SISSAN{% endblock %}</title>
	<link type="text/css" rel="stylesheet" href="/css/estilo.css"/>
	<link type="text/css" rel="stylesheet" href="/css/jquery-ui-1.7.2.custom.css"/>
	<link type="text/css" rel="stylesheet" href="/css/niceforms-default.css"/>
    <script type='text/javascript' src='/js/jquery-1.3.2.min.js'></script>
    <script type='text/javascript' src='/js/jquery-ui-1.7.2.custom.min.js'></script>
	<script type='text/javascript' src='/js/tablesort.js'></script>	
	<script type='text/javascript' src='/js/niceforms.js'></script>	
	<script type="text/javascript">
			$(function(){
				// Tabs
				$('#tabs').tabs();
				//hover states on the static widgets
				$('#dialog_link, ul#icons li').hover(
					function() { $(this).addClass('ui-state-hover'); }, 
					function() { $(this).removeClass('ui-state-hover'); }
				);
			});
		</script>
	{%block extrahead%}{%endblock%}
</head>
<body>	 
		<div id="contenedor" class="centro">
		 {% block header %}
 <!-- Comienza el header -->
        <div id="header">
          
            <div id="sesion" class="der">
               <ul>
				<li><a href="/"> <img src="/imagen/home.png"> Inicio</a> </li>
				<li><a href="/admin"> <img src="/imagen/user.png"> Entrar</a> </li>
				<li><a href="#"> <img src="/imagen/ayuda.png"> Ayuda</a> </li>
            </div>
             <div id="header_tab" class="izq">
                 
	<div id="tabs">
			<ul>

				<li><a href="#tabs-1">Demografico</a></li>
				<li><a href="#tabs-2">Socio Demografico</a></li>
				<li><a href="#tabs-3">Economico</a></li>
				<li><a href="#tabs-4">Gasto Social</a></li>
				<li><a href="#tabs-5">Seguridad Alimentaria</a></li>
			</ul>
			<div id="tabs-1"><div id="enlace"><a href="/demografico/poblacion">Poblacion</a></div>
							<div id="enlace"><a href="/demografico/poblacion">Densidad</a></div><br><br><br><br>
			</div>
			<div id="tabs-2"></div>
			<div id="tabs-3"></div>
			<div id="tabs-4"></div>
			<div id="tabs-5"></div>
		</div>	
            </div>
        </div>
        <div id="sombra">
		</div>
        <!-- Termina el header -->
		{% endblock %}
		 {% block contenido %}
<!-- Comienza Contenido-->
            <div id="contenido">
               <div id="colum_izq" class="izq">
				{% block formulario %}{% endblock %}
				{% block resultado %}
                    <h2> SubTitulo </h2>

						<table id="test1" cellpadding="0" cellspacing="0" border="0" class="rowstyle-alt colstyle-alt no-arrow ">
						  <caption>The Numbers Weekly World Chart (2007-03-08)</caption>
						  <thead>
							<tr>
							  <th class="sortable-numeric">Rank</th>
							  <th class="sortable-numeric">Prev.Rank</th>

							  <th class="sortable">Movie</th>
							  <th class="sortable-date-dmy">Release Date</th>
							  <th class="sortable-currency">Weekly Gross</th>

							</tr>
						  </thead>
						  <tbody>
							<tr class="alt">
							  <td >1</td>
							  <td >&nbsp;</td>

							  <td ><a href="http://www.the-numbers.com/movies/2007/WHOGS.php">Wild Hogs</a></td>
							  <td >03/01/2007</td>
							  <td >$49,415,325</td>

							</tr>
							<tr >
							  <td >2</td>
							  <td >(1)</td>
							  <td ><a href="http://www.the-numbers.com/movies/2007/GHStr.php">Ghost Rider</a></td>
							  <td >09/01/2007</td>

							  <td>$36,530,163</td>

							</tr>
							<tr class="alt" >
							  <td>2</td>
							  <td>(1)</td>
							  <td ><a href="http://www.the-numbers.com/movies/2007/GHStr.php">Ghost Rider</a></td>
							  <td>09/01/2007</td>

							  <td>$36,530,163</td>
							</tr>
						  </tbody>
						  <tfoot>

							<tr>
							  <td class="total" colspan="4">Cumulative Total:</td>
							  <td>$2,982,563,398</td>
							</tr>
						  </tfoot>

						</table>
                    <p>
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae libero quis diam tempus pharetra. In hac habitasse platea dictumst. Vestibulum ornare imperdiet velit dictum facilisis. Vivamus faucibus, lacus sit amet fermentum lacinia, tortor arcu ullamcorper metus, ut consectetur quam risus sed ante. Donec odio ipsum, mattis ut blandit vitae, interdum rhoncus dolor. Vestibulum eu massa eu diam interdum porttitor vel eu eros. Nulla tempor nulla et velit pellentesque pulvina
                    </p>
                    <p>
                     Aenean elementum massa eget diam aliquet ut hendrerit arcu placerat. Cras malesuada risus vitae ligula ullamcorper sed rutrum est scelerisque. Duis venenatis tortor id quam aliquet rhoncus. Ut ut nisi dolor, ut suscipit risus. Sed sed dolor diam, feugiat lobortis leo. Integer laoreet ornare sollicitudin.Ut fringilla nisl in lorem facilisis vel accumsan arcu aliquet. Aliquam justo elit, tempor nec accumsan sit amet, vehicula at lectus. Donec blandit pharetra orci sed tempor. In porta facilisis lectus non dictum. Morbi nec lorem lectus. Donec eget nunc ac dui dignissim commodo. Suspendisse semper posuere ligula, id faucibus metus luctus ullamcorper. Cras sit amet ligula quam, posuere suscipit massa. Ut porta semper magna ac lobortis. Morbi ac sodales nunc. Sed in euismod diam. Mauris dignissim ultricies dictum. Aliquam malesuada scelerisque rutrum. Etiam mollis suscipit urna, non faucibus libero euismod a. Cum sociis natoque penatibus et magnis dis parturient montes
                    </p>
                    <p>
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae libero quis diam tempus pharetra. In hac habitasse platea dictumst. Vestibulum ornare imperdiet velit dictum facilisis. Vivamus faucibus, lacus sit amet fermentum lacinia, tortor arcu ullamcorper metus, ut consectetur quam risus sed ante. Donec odio ipsum, mattis ut blandit vitae, interdum rhoncus dolor. Vestibulum eu massa eu diam interdum porttitor vel eu eros. Nulla tempor nulla et velit pellentesque pulvina
                    </p>
                    <p>
                     Aenean elementum massa eget diam aliquet ut hendrerit arcu placerat. Cras malesuada risus vitae ligula ullamcorper sed rutrum est scelerisque. Duis venenatis tortor id quam aliquet rhoncus. Ut ut nisi dolor, ut suscipit risus. Sed sed dolor diam, feugiat lobortis leo. Integer laoreet ornare sollicitudin.Ut fringilla nisl in lorem facilisis vel accumsan arcu aliquet. Aliquam justo elit, tempor nec accumsan sit amet, vehicula at lectus. Donec blandit pharetra orci sed tempor. In porta facilisis lectus non dictum. Morbi nec lorem lectus. Donec eget nunc ac dui dignissim commodo. Suspendisse semper posuere ligula, id faucibus metus luctus ullamcorper. Cras sit amet ligula quam, posuere suscipit massa. Ut porta semper magna ac lobortis. Morbi ac sodales nunc. Sed in euismod diam. Mauris dignissim ultricies dictum. Aliquam malesuada scelerisque rutrum. Etiam mollis suscipit urna, non faucibus libero euismod a. Cum sociis natoque penatibus et magnis dis parturient montes
                    </p>
               </div>
               <div id="colum_der" class="der">
                    <div class="bloque">
						<h1>Titulo</h1>
						<h2>Enlace</h2>
					</div>
               </div>
               <div id="separador" ></div>
            </div>
            

        <!-- Termina Contenido-->

			{% endblock %}
		{% endblock %}
		 {% block footer %}

       <!-- Comienza Footer-->
        
        <div id="footer">
             Desarrollado por SIMAS, 2009 usando Django framework</div>
        </div>
        <!-- Termina Footer-->
{% endblock %}
		<div>

</body>
</html>
