<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Demo page</title>	
		<link type="text/css" rel="stylesheet" href="/css/visualize.jQuery.css"/>
		<link type="text/css" rel="stylesheet" href="/css/demopage.css"/>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
		<!--[if IE]><script type="text/javascript" src="/js/excanvas.compiled.js"></script><![endif]-->
		<script type="text/javascript" src="/js/visualize.jQuery.js"></script>
		<script type="text/javascript">
			$(function(){
				//make some charts
				$('table').visualize({parseDirection:'y', type:'line'});
				

			});
		</script>
	</head>
	<body>
		 {% block content %}{% endblock %}

	</body>
</html>