{% extends 'base.html' %}

{% block contenido %}

<!-- Comienza Contenido-->
            <div id="contenido">
               <div id="colum_izq" class="izq">
                    <h2> SubTitulo </h2>
                    <p>
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae libero quis diam tempus pharetra. In hac habitasse platea dictumst. Vestibulum ornare imperdiet velit dictum facilisis. Vivamus faucibus, lacus sit amet fermentum lacinia, tortor arcu ullamcorper metus, ut consectetur quam risus sed ante. Donec odio ipsum, mattis ut blandit vitae, interdum rhoncus dolor. Vestibulum eu massa eu diam interdum porttitor vel eu eros. Nulla tempor nulla et velit pellentesque pulvina
                    </p>
                    <p>
                     Aenean elementum massa eget diam aliquet ut hendrerit arcu placerat. Cras malesuada risus vitae ligula ullamcorper sed rutrum est scelerisque. Duis venenatis tortor id quam aliquet rhoncus. Ut ut nisi dolor, ut suscipit risus. Sed sed dolor diam, feugiat lobortis leo. Integer laoreet ornare sollicitudin.Ut fringilla nisl in lorem facilisis vel accumsan arcu aliquet. Aliquam justo elit, tempor nec accumsan sit amet, vehicula at lectus. Donec blandit pharetra orci sed tempor. In porta facilisis lectus non dictum. Morbi nec lorem lectus. Donec eget nunc ac dui dignissim commodo. Suspendisse semper posuere ligula, id faucibus metus luctus ullamcorper. Cras sit amet ligula quam, posuere suscipit massa. Ut porta semper magna ac lobortis. Morbi ac sodales nunc. Sed in euismod diam. Mauris dignissim ultricies dictum. Aliquam malesuada scelerisque rutrum. Etiam mollis suscipit urna, non faucibus libero euismod a. Cum sociis natoque penatibus et magnis dis parturient montes
                    </p>
                    <p>
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae libero quis diam tempus pharetra. In hac habitasse platea dictumst. Vestibulum ornare imperdiet velit dictum facilisis. Vivamus faucibus, lacus sit amet fermentum lacinia, tortor arcu ullamcorper metus, ut consectetur quam risus sed ante. Donec odio ipsum, mattis ut blandit vitae, interdum rhoncus dolor. Vestibulum eu massa eu diam interdum porttitor vel eu eros. Nulla tempor nulla et velit pellentesque pulvina
                    </p>
                    <p>
                     Aenean elementum massa eget diam aliquet ut hendrerit arcu placerat. Cras malesuada risus vitae ligula ullamcorper sed rutrum est scelerisque. Duis venenatis tortor id quam aliquet rhoncus. Ut ut nisi dolor, ut suscipit risus. Sed sed dolor diam, feugiat lobortis leo. Integer laoreet ornare sollicitudin.Ut fringilla nisl in lorem facilisis vel accumsan arcu aliquet. Aliquam justo elit, tempor nec accumsan sit amet, vehicula at lectus. Donec blandit pharetra orci sed tempor. In porta facilisis lectus non dictum. Morbi nec lorem lectus. Donec eget nunc ac dui dignissim commodo. Suspendisse semper posuere ligula, id faucibus metus luctus ullamcorper. Cras sit amet ligula quam, posuere suscipit massa. Ut porta semper magna ac lobortis. Morbi ac sodales nunc. Sed in euismod diam. Mauris dignissim ultricies dictum. Aliquam malesuada scelerisque rutrum. Etiam mollis suscipit urna, non faucibus libero euismod a. Cum sociis natoque penatibus et magnis dis parturient montes
                    </p>
               </div>
               <div id="colum_der" class="der">
                    <div class="bloque"></div>
               </div>
               <div id="separador" ></div>
            </div>
            

        <!-- Termina Contenido-->
{% endblock % }
