{% extends 'base.html' %}

{% block header %}
 <!-- Comienza el header -->
        <div id="header">
          
            <div id="sesion" class="der">
               <ul>
				<li><a href="#"> <img src="imagen/home.png"> Inicio</a> </li>
				<li><a href="#"> <img src="imagen/user.png"> Entrar</a> </li>
				<li><a href="#"> <img src="imagen/ayuda.png"> Ayuda</a> </li>
            </div>
             <div id="header_tab" class="izq">
                 
	<div id="tabs">
			<ul>

				<li><a href="#tabs-1">Demografico</a></li>
				<li><a href="#tabs-2">Socio Demografico</a></li>
				<li><a href="#tabs-3">Economico</a></li>
				<li><a href="#tabs-4">Gasto Social</a></li>
				<li><a href="#tabs-5">Seguridad Alimentaria</a></li>
			</ul>
			<div id="tabs-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
			<div id="tabs-2">Phasellus mattis tincidunt nibh. Cras orci urna, blandit id, pretium vel, aliquet ornare, felis. Maecenas scelerisque sem non nisl. Fusce sed lorem in enim dictum bibendum.</div>

			<div id="tabs-3">Nam dui erat, auctor a, dignissim quis, sollicitudin eu, felis. Pellentesque nisi urna, interdum eget, sagittis et, consequat vestibulum, lacus. Mauris porttitor ullamcorper augue.</div>
			<div id="tabs-4">Nam dui erat, auctor a, dignissim quis, sollicitudin eu, felis. Pellentesque nisi urna, interdum eget, sagittis et, consequat vestibulum, lacus. Mauris porttitor ullamcorper augue.</div>
			<div id="tabs-5">Nam dui erat, auctor a, dignissim quis, sollicitudin eu, felis. Pellentesque nisi urna, interdum eget, sagittis et, consequat vestibulum, lacus. Mauris porttitor ullamcorper augue.</div>
		</div>	
            </div>
        </div>
        <div id="sombra">
		</div>
        <!-- Termina el header -->
 {% endblock %}
