{% extends 'base.html' %}
{% block contenido %}
{{mensaje}}
<table>
    <tr>
        <td>
            Año
        </td>
        {% if departamento %}
        <td>
          Departamento 
        </td>
        {% endif %}
        <td>
          Enfermedades diarreicas agudas 
        </td>
        <td>
          Enfermedades respiratorias agudas
        </td>
    </tr>
    {%for dato in datos%}
    <tr>
        <td>
            {{dato.ano}}
        </td>
        {% if departamento %}
        <td>
            <a href="/seguridad-alimentaria/utilizacion-biologica/{{dato.departamento.slug}}/">{{dato.departamento.nombre}}</a>
        </td>
        {% endif %}
        <td>
            {{dato.enfermedades_diarreicas}}
        </td>
        <td>
            {{dato.enfermedades_respiratorias}}
        </td>
    </tr>
    {%endfor%}
    <tr>
        {%if departamento%}
        <td colspan="2">
        {%else%}
        <td>
        {%endif%}
            Variaciones
        </td>
        <td>
            {{variaciones.variacion_eda|floatformat:2}}%
        </td>
        <td>
            {{variaciones.variacion_ira|floatformat:2}}%
        </td>
</table>
{% endblock %}
